{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type='text/css' href="{% static '/style.css' %}">
  <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
  integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
  crossorigin="anonymous"/>
  <title>{% block title %}{% endblock %}</title>
</head>
<div class="container">
  <body>
    <header>
      <a href="{% url 'home' %}" class="logo">SCRAPER</a>
      <nav>
          <ul class="nav__links">
            <li><a href="{% url 'home' %}" class="home">HOME</a></li>
          </ul>
      </nav>
      <a href="#"><button class="button">LOGIN</button></a>
  </header>
  <main>{% block content %}{% endblock %}</main>
  <footer>
    <p class="copy">Copyright &copy; 2021</p>
    <div class="social">
      <a href="#"><i class="fab fa-instagram fa-2x"></i></a> <a href="#"><i class="fab fa-facebook fa-2x"></i></a> <a href="https://github.com/mjaroszewski1979" class="github"><i class="fab fa-github fa-2x"></i></a> <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
    </div>
</footer>
  </body>
</div>
</html>